[submodule "themes/hugo-ivy"]
	path = themes/hugo-ivy
	url = https://github.com/iamshaynez/hugo-ivy
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
