---
title: Follow Verification
author: xiaowenz
type: post
date: 2024-10-22T07:00:00+08:00
slug: follow-verification
description: "还是得写字啊……"
draft: false
categories:
  - I am a Developer
tags:
  - 管理

---

This message is used to verify that this feed (feedId:41342818716915716) belongs to me (userId:69754956654722048). Join me in enjoying the next generation information browser https://follow.is.